<form *ngIf="form" autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
    <ng-container [ngSwitch]="section">
        <rdio-scanner-admin-options *ngSwitchCase="'options'" [form]="options" [ffmpegAvailable]="ffmpegAvailable"
            [ffmpegInstallHint]="ffmpegInstallHint"></rdio-scanner-admin-options>
        <rdio-scanner-admin-systems *ngSwitchCase="'systems'" [form]="systems"></rdio-scanner-admin-systems>
        <div *ngSwitchCase="'groupsTags'" class="groups-tags">
            <div>
                <h3 class="section-title">Groups</h3>
                <rdio-scanner-admin-groups [form]="groups"></rdio-scanner-admin-groups>
            </div>
            <div>
                <h3 class="section-title">Tags</h3>
                <rdio-scanner-admin-tags [form]="tags"></rdio-scanner-admin-tags>
            </div>
        </div>
        <rdio-scanner-admin-access *ngSwitchCase="'access'" [form]="access"></rdio-scanner-admin-access>
        <rdio-scanner-admin-api-keys *ngSwitchCase="'apiKeys'" [form]="apiKeys"></rdio-scanner-admin-api-keys>
        <rdio-scanner-admin-dir-watch *ngSwitchCase="'dirWatch'" [form]="dirWatch"></rdio-scanner-admin-dir-watch>
        <rdio-scanner-admin-downstreams *ngSwitchCase="'downstreams'" [form]="downstreams"></rdio-scanner-admin-downstreams>
    </ng-container>
</form>
