<mat-accordion displayMode="flat">
    <mat-expansion-panel (opened)="importComponent.refresh()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>file_upload</mat-icon>
                Import
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-import #importComponent (config)="config.emit($event)"></rdio-scanner-admin-import>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="exportComponent.refresh()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>file_download</mat-icon>
                Export
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-export #exportComponent></rdio-scanner-admin-export>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>password</mat-icon>
                Admin password
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-password></rdio-scanner-admin-password>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>system_update_alt</mat-icon>
                Updates
            </mat-panel-title>
        </mat-expansion-panel-header>
        <rdio-scanner-admin-updates></rdio-scanner-admin-updates>
    </mat-expansion-panel>
</mat-accordion>
